<!-- Loading skeleton template -->
<div class="weather-result">
  <div class="skeleton-circle skeleton-loader mb-3"></div>
  
  <div class="skeleton-title skeleton-loader mb-3"></div>
  
  <div class="skeleton-text skeleton-loader mb-4 w-25"></div>
  
  <div class="skeleton-text skeleton-loader mb-4 w-50"></div>
  
  <div class="mt-4 skeleton-loader" style="width: 160px; height: 48px; border-radius: 4px;"></div>
</div> 