<%- include("partials/header"); -%>

<div class="container-fluid">
  <form action="/" method="post">
    <label for="cityInput" class="form-label"
      >Where would you like the current weather for?</label
    >
    <br />
    <input
      id="cityInput"
      type="text"
      name="cityName"
      class="search-input"
      placeholder="Enter city name"
    />
    <button type="submit" class="search-button">Go</button>
  </form>
</div>

<%- include("partials/footer"); -%>
