<%- include("partials/header"); -%>

<form class="container-fluid" action="/" method="post">
  <label for="cityInput">What city would you like the current weather for?</label>
  <br>
  <br>
  <input id="cityInput" type="text" name="cityName">
  <button type="sumbit"> Go </button>
</form>



<%- include("partials/footer"); -%>
